* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(240, 240, 240);
}

.navbar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-solid {
  font-size: 2rem;
}

#logo {
  height: 80px;
}

.hidden {
  display: none;
}
